.controls-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 5px;
  width: 100%;
  max-width: 28rem;
}

.button-container {
  margin-top: 12px;
}

.controls-container > .dropdown {
  flex: 1 1 0;
  min-width: 0;
  width: 100%;
}

@media (min-width: 48em) {
  .controls-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;
  }
  .button-container {
    align-self: flex-end;
  }
}
